
/*for all but opera & firefox2.0*/
.yui3-widget.yui3-overlay{background:rgba(128, 128, 128, 0.2);*background:#c4c4c4;font-size:12px;font-family:Tahoma;}
/*hack for Opera*/
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0){
	head~body .yui3-widget.yui3-overlay{background:#c4c4c4;}
}
/*hack for firefox2.0*/
.yui3-widget.yui3-overlay, x:-moz-any-link {background:#c4c4c4;}
/*hack for firefox3.0 & upper*/
.yui3-widget.yui3-overlay, x:-moz-any-link x:default {background:rgba(128, 128, 128, 0.2);}

.yui3-widget-stdmod {position:relative;top:-3px;left:-3px;background:#fff;border:2px solid #c4c4c4;}
.yui3-overlay-content .yui3-widget-hd {border:0px;text-align:left;font-weight:bold;color:black;font-size:14px;height:14px;_padding-bottom:0px;}
.yui3-overlay-content .yui3-widget-hd .close {margin-right:5px;}
.yui3-overlay-content .yui3-widget-bd {border:0px;height:auto;padding-left:20px;padding-top:10px;padding-right:20px;padding-bottom:10px;}
.yui3-overlay-content .yui3-widget-ft {border:0px;padding-right:9px;height:34px;}

.yui3-overlay-content .yui3-widget-hd .title{float:left;}
.yui3-overlay-content .yui3-widget-hd .close{float:right;cursor:mouse}


