/**=====================================
 * 文章article==========================
 ======================================*/

.article{
	background: #fff;
	padding: 2em 2em 2em 80px;
	border-radius:5px;
	margin-bottom: 20px;
	position: relative;
}
.article_min{
	min-height: 300px;
}
/**==========================================
 * 	标题=====================================
 ============================================*/
.article .hd{
	position: relative;
}
.article  .title{
	font-size: 24px;
	color: red;
	line-height: 48px;
}
.article  .title:first-letter{
	font-size:36px;
	line-height:1em;
	vertical-align:-3px;
	color: green;
}
.article h1{
	font-size: 24px;
	color: red;
	
}
.article h1:first-letter{
	font-size:36px;
	line-height:1em;
	vertical-align:-3px;
	color: green;
	font-weight:bold;
	text-shadow:2px 3px 1px #999;
}
.article h2{
	color: #0C4540;
	font-weight:bolder;
	line-height:2em;
	margin: 1em 0;
	border-bottom: 1px dashed #ccc;
}
.article h3{
	color: #333;
	font-weight: bold;
}
/**==========================================
 * 	段落=====================================
 ============================================*/
.article .bd{
	margin-top: 10px;
	padding-bottom: 10px;
}
.article p{
	text-indent: 2em;
	text-align: justify;
	line-height: 2em;
}
.article p .more{
	margin-left: .5em;
}
.article pre {
    background-color: #EEEEEE;
    border-color: #F9F7EE #F9F7EE #F9F7EE #6CE26C;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    line-height: 20px;
    padding: 15px;
    color: #333333;
    white-space:pre-wrap;
	word-wrap: break-word;
	_word-break: break-all;
    background-color: #F7F7F7;
    margin: 10px 0;

}
/**=========================================
 * 	列表====================================
 ===========================================*/
.article ol,.article ul{
	padding-left: 2em;
}
.article ol li{
	list-style-type:decimal ;
	list-style-position:inside;
}

.article .list {
	border: 1px dotted #fff;
	padding: 2em;
	border-radius: 5px;
	box-shadow: inset -1px -1px 3px 0px #2F9088;
}
.article .list a{
	display: block;
	font-size: 16px;
	line-height:1.6em;
 
}
/**==============================================
 * 	时间=========================================
=================================================*/
.article .time{
	position: absolute;
	width: 60px;
	height:55px;
	padding:5px 0 0 0;
	top: 0px;
	left:-70px;
	 color:#fff;
	text-align:center;
	background: #f76300;
	border-radius: 3px;
	box-shadow:1px 1px 3px #292929;
}
.article .time .date{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width:100%;
    font-size: 25px;
    font-weight: 700;
    line-height: 40px;
}
.article .time .hm{
	position: absolute;
	color: #999;
	bottom: -20px;
	right: 0px;
	left:0px;
	width: 100%;
	
	
}




 
/**==============================================
 * 	编辑框
 ======================================*/
#J_ValidForm .paragram{
	width: 370px;
	height: 200px;
}
#J_ValidForm .paragram-con{
	height: 200px;
}
#J_ValidForm .paragram{
	width: 370px;
	height: 200px;
}
#J_ValidForm .default{
	color: #999;
}
#J_ValidForm .sub{
	float: left;
	display:inline;
	margin: 10px 0px 0px 100px;
}
#J_ValidForm .intro{
	height: 50px;
}
#J_ValidForm .intro-con{
	height: 50px;
}
.number-con{
	float: right;
	display: inline;
	margin:-3px 15px 0px 0px;
	color: #333;
}
.number-con .number{
	 font-family: Constantia,Georgia;
    font-size: 22px;
    font-weight: 700;
    margin: 0 2px;
}

/**==============================================
 *表格============================================
 ===============================================*/
.grid{
	width:100%;
	border: 1px solid #ccc;
	
}
.grid caption{
	line-height: 32px;
}
.grid td,.grid th{
	border: 1px solid #ccc;
	padding:5px 10px;
}
.grid th{
	font-weight: bold;
}
/**==========================================================
 * 	触发按钮=================================================
 ========================================================*/
.operate{
	position: absolute;
	width:100px;
	padding-bottom:20px;
	right: 0px;
	top: 28px;
	height:60px;
	z-index: 1;
}
.operate2{
	height: 120px;
}
.operate .trigger,.operate .con{
	width:100%;
	height: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
	background: none;
	
}
.operate .con{
	background:rgba(0,0,0,0.4); 
	z-index: 2;
	display: none;
}
.operate .button{
	display:block;
	width:30px;
	text-align:center;
	padding: 10px 20px;
	margin: 20px 15px 0 15px;
	position:relative;
	z-index: 3;
}
/**
 * 	表格
 */
th,td{
	line-height: 24px;
}
th {
    background-color: #6199DF;
    color: #FFFFFF;
}